

.btn{
    width: 200px;
    padding: 5px;
    color: rgb(182, 20, 182);
    cursor: pointer;
    border-radius: 5px;
    
}
@media only screen and (min-width:800px){
      .btn{
       width: 200px;
       background-color: rgb(175, 21, 21);
      }
}

@media only screen and (max-width:700px){
    .btn{
      width: 200px; 
      background-color: rgb(60, 47, 177);
      
    }
}
@media only screen and (max-width:575px){
    .btn{
      width: 200px; 
      background-color: rgb(198, 83, 11);
      
    }
}
